
@media screen and (max-width:1230px){
    aside{
        display: none;
        z-index: 20;
        position: absolute;
        left: 0;
        background: rgb(246,237,208);
        width: 100%;
    }

    .open_aside{
        display: block;
    }

    .main__content{
        width: 100%;
    }

    .main-content__blog{
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width:1170px){
    .menu{
        margin-right: 0;
    }

    #navigation{
        width: 100%;
    }

    .page-main__header{
        width: 100%;
    }



    .footer-header, .footer-content{
        width: 100%;
        padding: 20px 15px 15px 15px;
    }
}

@media screen and (max-width:1100px){
    .page-header{
        padding-top: 50px;
    }

    #navigation{
        height: auto;
        width: 100%;
        flex-direction: column;
        padding-left: 10%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(253,251,246);
        display: none;
        z-index: 10;
    }

    .menu li{
        display: block;
        height: 40px;
        width: 100%;
    }

    .menu{
        margin-right: 0;
        width: 100%;
    }

    .nav__buttons{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: space-between;
        padding-bottom: 10px;
    }

    .button{
        height: 40px;
        padding: 8px;
    }

    .languages{
        display: none;
    }

    .humburger{
        display: block;
    }
}

@media screen and (max-width: 1000px){
    .icon{
        display: none;
    }

    .main-content__blog{
        width: 650px;
    }
}

@media screen and (max-width:740px){
    .contact{
        width: 60%;
    }
}

@media screen and (max-width:670px){
    .main-content__blog{
        width: 330px;
        margin: 0 auto;
    }

    .article{
        width: 330px;
    }
}

@media screen and (max-width:580px){
    .page-header__content__title{
        width: 350px;
    }

    .logo img{
        width: 90%;
    }
}
